.vis {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    border: 3px solid #ccc;
    box-shadow: 5px 10px 10px #888;
    border-radius: 10px;
    margin: 10px 10px 10px;
    overflow: hidden;
}

.main {
    margin-top: 20px;
}